@model Museu_da_Informática.Models.Cadastro_Pecas

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Cadastro_Pecas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dimensao_largura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimensao_largura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dimensao_altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimensao_altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dimensao_profundidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimensao_profundidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano_fabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_fabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diponibilidade_venda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diponibilidade_venda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diponibilidade_visual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diponibilidade_visual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
